@charset "UTF-8";

.topmenu-container{
    position: sticky;
    top : 0px;
    /* background : black; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #d9d9df; */
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #d9d9df;
    box-shadow: 1px 0px 15px #d9d9df;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    z-index: 100;
}

.topmenu-container .login-im {
	position: absolute;
    right: 20px;
    bottom: 16px;
    width: auto;
    height: 20px;
    cursor: pointer;
}

.topmenu-container .menu{
    position: absolute;
    left: 20px;
    bottom: 16px;
    width: auto;
    height: 22px;
    /* 클릭가능한버튼 */
    cursor: pointer;
}

.topmenu-container .meari-logo{
    position:relative;
    top: 16px;
    width: auto;
    height: 36px;
    /* 클릭가능한버튼 */
    cursor: pointer;
}

.topmenu-container .dm{
    position: absolute;
    right: 28px;
    bottom: 16px;
    margin-right: 30px;
    width: auto;
    height: 22px;
    /* 클릭가능한버튼 */
    cursor: pointer;
}

.topmenu-container .notice{
    position: absolute;
    right: 20px;
    bottom: 16px;
    width: auto;
    height: 22px;
    /* 클릭가능한버튼 */
    cursor: pointer;
}

.bottommenu-container{
    position: fixed;
    width: 100%;
    bottom : 0px;
    padding-top: 10px;
    /* background : black; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #fff;
    height: 80px;
    border-top: 1px solid #d9d9df;
    box-shadow: 1px 0px 15px #d9d9df;

    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    z-index: 100;
}

.bottommenu-container .icon{
    width: auto;
    height: 24px;
    cursor: pointer;
}

.bottommenu-container .icon:hover{
    width: auto;
    height: 24px;
    cursor: pointer;
    background-image: url("images/clickevent.png");
}